[Unit]
Description=echosf
After=network.target multi-user.target

[Service]
User=admin

WorkingDirectory=/home/admin/echosf
ExecStart=/usr/bin/npm start
StandardOutput=journal
StandardError=journal
SyslogIdentifier=echosf

[Install]
WantedBy=multi-user.target
