[Unit]
Description=echosf
After=network.target multi-user.target

[Service]
User=mrps

WorkingDirectory=/home/mrps/prod/echosf/build
ExecStart=node index.js
Environment=PORT=42020
StandardOutput=journal
StandardError=journal
SyslogIdentifier=echosf

[Install]
WantedBy=multi-user.target
